#game-board {
    width: 75vw;
    height: 75vh;
    margin-block: 12.5vh;
    margin-inline: 12.5vw;
}

#root {
    width: 0%;
    height: 0%;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
